<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
   | For more configuration information and examples see the Jakarta Log4j
   | website: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
    <!-- ============================================
          Append error messages to a local error log
         ============================================ -->
    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="api-db-error.log"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{MM/dd/yyyy HH:mm:ss,SSS} %-5p [%C] %m%n"/>
        </layout>
    </appender>

    <!-- ================================
          Append messages to the console
         ================================ -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{MM/dd/yyyy HH:mm:ss,SSS} %-5p [%C] %m%n"/>
        </layout>
    </appender>
	
	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->
	
	<!-- Note: if you want to set the priority for only one appender, add <appender-ref
		ref="CONSOLE"/> or whatever; but note that you also have the root appending, so
		you'll get two messages unless you also set log4j.additivity.<package>.<class>=false
		-->

    <category name="org.apache.tomcat.jdbc.pool">
        <priority value="WARN" />
    </category>

	<!-- Poesys/DB logging -->
	<category name="com.poesys">
		<priority value="WARN" />
	</category>
	
	<!-- connection logging -->
	<category name="com.poesys.bs.delegate.AbstractConnectionDelegate">
		<priority value="INFO" />
	</category>
	
	<!-- connection logging -->
	<category name="com.poesys.db.connection.JndiConnectionFactory">
		<priority value="INFO" />
	</category>
	
	<category name="com.poesys.db.dao.CacheDaoManager">
		<priority value="INFO" />
	</category>
	
	<category name="com.poesys.db.dao.CacheListenerExecutor">
		<priority value="INFO" />
	</category>
	
	<category name="com.poesys.db.dao.CacheMessageListener">
		<priority value="INFO" />
	</category>
	
	<category name="com.poesys.db.dto.DtoCacheWithMessaging">
		<priority value="INFO" />
	</category>
	
	<!-- SQL logging -->
	
	<category name="com.poesys.db.dao.insert">
		<priority value="DEBUG" />
	</category>
	
	<category name="com.poesys.db.dao.update">
		<priority value="DEBUG" />
	</category>
	
	<category name="com.poesys.db.dao.delete">
		<priority value="DEBUG" />
	</category>
	
	<category name="com.poesys.db.dao.query">
		<priority value="DEBUG" />
	</category>

	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	
	<root>
		<priority value="DEBUG"/>
		<appender-ref ref="CONSOLE"/>
	</root>
	
</log4j:configuration>

